/* INDEX STYLING */
body {
  padding: 0;
  margin: 0;
  background-color: black;
}
#map,
body,
html {
  height: 100%;
}
/* POPUP STYLING */
div {
  background-color: black !important;
  color: white;
}
.leaflet-popup-content-wrapper {
  border: white 2px solid;
}
.leaflet-popup-content {
  padding: 5px;
}
.leaflet-popup-close-button {
  padding: 1rem !important;
}
span {
  color: white;
}



